<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Company_CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Company_CRM.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true"/>
</head>
<body class="bg-dark text-white">
    <header class="container">
        <nav class="row border-bottom">
            <div class="col align-content-start">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/factory.png" 
                        class="rounded float-start icon"
                        alt="Иконка завода"
                        asp-append-version="true"/>
                </a>
            </div>
            <div class="col-10 align-items-center">
                <ul class="horiz text-nowrap">
                    <li>
                        <a class="link-light" href="#">
                            <p class="text-start 
                                      text-uppercase
                                      fs-2
                                      fw-light">Наши заказчики</p>
                        </a>
                    </li>
                    <li>
                        <a class="link-light" href="#">
                            <p class="text-center 
                                      text-uppercase 
                                      fs-2
                                      fw-light">Сделать заказ</p>
                        </a>
                    </li>
                    <li>
                        <a class="link-light" href="#">
                            <p class="text-end 
                                      text-uppercase 
                                      fs-2
                                      fw-light">О нас</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <a asp-action="Auth" asp-controller="Verification">
                    <p class="btn-success 
                              rounded-1 
                              text-nowrap
                              text-center
                              fs-3
                              fw-normal">Войти</p>
                </a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Sneaker Factory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>