@page
@using Microsoft.EntityFrameworkCore
@model UserInfo

@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}

<div class="row">
    <div class="col btn-group-vertical">
        <p style="font-size: 20px">
            <strong>Войдите в свой аккаунт</strong>
        </p>
        @using (Html.BeginForm("Auth", "Verification", FormMethod.Post, new { @class = "row", @id="AuthForm" }))
        {
            @Html.TextBoxFor(l => l.Login,
                new { @placeholder = "Введите логин", @class = "form-control-lg", @id="login" })
            @Html.ValidationMessageFor(m => m.Login)
            @Html.PasswordFor(p => p.Password,
                new { @placeholder = "Введите пароль", @class = "mt-2 form-control-lg", @id="pass" })
            @Html.ValidationMessageFor(m => m.Password)
            
            <p class="text-center">Для того, чтобы продолжить, пожалуйста, введите данные для авторизации.</p>
            <input class="btn btn-primary m-2 mx-auto" style="max-width: 250px" type="submit" value="Войти"/>
        }
       <a asp-action="Register" asp-controller="Verification" class="btn btn-secondary m-2 mx-auto" style="max-width: 250px" type="submit">
           Зарегистрироваться
       </a>
    </div>
    <div class="col-1"></div>
    <div class="col p-3 btn-group-vertical text-center">
        <img src="~/img/employee2.png" style="max-height: 90%" asp-append-version="true">
    </div>
</div>


@section Scripts {
    
}