@page
@model UserInfo

@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}

<div class="row">
    <div class="col btn-group-vertical">
        <p style="font-size: 20px">
            <strong>Войдите в свой аккаунт</strong>
        </p>
        @using (Html.BeginForm("Auth", "Verification", FormMethod.Post, new { @class = "row" }))
        {
            @Html.TextBoxFor(l => l.Login,
                new { @placeholder = "Введите логин", @class = "mb-2 form-control-lg" })
            @Html.PasswordFor(p => p.Password,
                new { @placeholder = "Введите пароль", @class = "mb-2 form-control-lg" })

            <p class="text-center">Для того, чтобы продолжить, пожалуйста, введите данные для авторизации.</p>
            <input class="btn btn-primary m-2 mx-auto" style="max-width: 250px" type="submit" value="Войти"/>
        }

        @using (Html.BeginForm("Register", "Verification", FormMethod.Get, new { @class = "row", @style = "width: 104%" }))
        {
            <input class="btn btn-secondary m-2 mx-auto" style="max-width: 250px" type="submit" value="Зарегистрироваться"/>
        }

    </div>
    <div class="col-1"></div>
    <div class="col p-3 btn-group-vertical text-center">
        <img src="~/img/employee2.png" style="max-height: 90%" asp-append-version="true">
    </div>
</div>