@{
    ViewData["Title"] = "Sneaker Factory";
}

<div class="container">
    <h1>Добро пожаловать!</h1>
    <div class="row">
        <!--Здесь будут 4 картинки-->
    </div>
    <div class="row">
        <button class="col">
            <p>Я заказчик</p>
        </button>
        <button class="col">
            <p>Я сотрудник</p>
        </button>
    </div>
<div/>