@{
    ViewData["Title"] = "Sneaker Factory";
}

<div class="container">
    <h1>Добро пожаловать!</h1>
    <div class="row">
        <img class="col-8 img-thumbnail rounded p-1" src="~/img/zavod.jpg" asp-append-version="true" />
        <div class="col-4">
            <img class="img-thumbnail rounded mb-1" src="~/img/sneaker1.png" asp-append-version="true" />
            <img class="img-thumbnail rounded mb-1" src="~/img/sneaker2.png" asp-append-version="true" />
            <img class="img-thumbnail rounded mb-1" src="~/img/sneaker3.png" asp-append-version="true" />
        </div>
    </div>
    <div class="row ms-3">
        <button class="col btn btn-success m-1">
            <p>Я заказчик</p>
        </button>
        <button class="col btn btn-success m-1">
            <p>Я сотрудник</p>
        </button>
    </div>
</div>